black==22.1.0
blue==0.9.1
click==8.1.7
flake8==4.0.1
isort==5.13.2
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.6.1
mypy-extensions==1.0.0
numpy==1.26.4
pandas==2.2.2
pathspec==0.12.1
pdfkit==1.0.0
platformdirs==4.2.2
pycodestyle==2.8.0
pyflakes==2.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tomli==2.0.1
tzdata==2024.1
